.loginBox {
  display: block;
  width: 400px;
  height: 400px;
  text-align: center;
margin: 0 auto;
border: 2px solid green;
color: green;
background-color: black;

}

.loginInput {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
.loginLabel {
  display: block;
   margin-bottom: 20px;
   margin-top: 100px;
}
.active {
  display: block;
  margin: 0 auto;
  background-color: blanchedalmond;
  color: black;
  text-decoration: none;
  width: 100px;
  border-radius: 10px;
}
.notActive {
  display: block;
  margin: 0 auto;
  background-color: gray;
  color: black;
  text-decoration: none;
  width: 100px;
  border-radius: 10px;
}